:root {
  --primary-font: "Montserrat Bold";
  --secondary-font: "Montserrat Thin";
  --primary-color: #fa6980;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Montserrat Regular";
  src: url('./fonts/Montserrat-Regular.otf'); 
 }
 @font-face {
   font-family: "Montserrat Bold";
   src: url('./fonts/Montserrat-Bold.otf'); 
 }


/* Header */

.containerHeader {
  background-image: url("./Assets/img/Viajes_Hero.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 1rem;
}

h1 {
  font-family: var(--primary-font);
}
hr {
  text-decoration: none;
}
.linea {
  border: none;
  height: 2px !important;
  color: rgb(255, 255, 255) !important;
  width: 35%;
  margin-left: 13rem;
  opacity: 100;
}
.bajada {
  font-family: var(--secondary-font);
  color: white;
  font-weight: bold;
  margin-left: 13rem;
  width: 40%;
}
.titleSecondary {
  font-family: var(--primary-font);
  color: white;
  font-size: 1.5rem;
  margin-left: 13rem;
}

.logoPin {
  width: 1.6vw;
  height: 5vh;
  margin-left: 1rem;
  margin-top: .4rem;
}

.titleHeader {
  display: flex;
  flex-direction: row;
  color: white;
  margin-top: 12rem;
  margin-left: 12rem;
}


@media (max-width: 720px) {
  .titleHeader {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 12rem;
    margin-left: 6rem;
  }
  .logoPin {
    width: 3vw;
    height: 5.5vh;
    margin-left: 1rem;
    margin-top: .2rem;
  }
  .titleSecondary {
    font-family: var(--primary-font);
    color: white;
    font-size: 1.5rem;
    margin-left: 7rem;
    width: 50%;
  }
  .linea {
    border: none;
    height: 2px !important;
    color: rgb(255, 255, 255) !important;
    width: 55%;
    margin-left: 7rem;
    opacity: 100;
  }
  .bajada {
    display: none;
  }
  .cuadrado {
    display: none;
  }
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 17%;
    opacity: 100;
    margin-left: -3rem !important;
    margin-top: 6rem !important;
  }
  .circulo {
    width: 45px;
    height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff6c;
    margin-left: 3.5rem !important;
    margin-top: -2.4rem;
  }
  .circulo2 {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 4rem !important;
    margin-top: -2.4rem;
    font-family: var(--primary-font);
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}
@media (max-width: 365px) {
  .titleHeader {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 12rem;
    margin-left: -1rem;
    width: 100vw;
    font-size: 1rem;
  }
  .logoPin {
    width: 5vw;
    height: 4.5vh;
    margin-left: 1rem;
    margin-top: .2rem;
  }
  .titleSecondary {
    font-family: var(--primary-font);
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
    width: 80%;
  }
  .linea {
    border: none;
    height: 2px !important;
    color: rgb(255, 255, 255) !important;
    width: 75%;
    margin-left: 1rem;
    opacity: 100;
  }
  .bajada {
    display: none;
  }
  .cuadrado {
    display: none;
  }
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 67% !important;
    opacity: 100;
    margin-top: 3rem !important;
  }
  .circulo {
    width: 45px;
    height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff6c;
    margin-left: 1.5rem !important;
    margin-top: -2.4rem;
  }
  .circulo2 {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 2rem !important;
    margin-top: -2.4rem;
    font-family: var(--primary-font);
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}
@media (max-width: 480px) {
  .titleHeader {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 12rem;
    margin-left: -1rem;
    width: 100vw;
    font-size: 1rem;
  }
  .logoPin {
    width: 5vw;
    height: 4.5vh;
    margin-left: 1rem;
    margin-top: .2rem;
  }
  .titleSecondary {
    font-family: var(--primary-font);
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
    width: 80%;
  }
  .linea {
    border: none;
    height: 2px !important;
    color: rgb(255, 255, 255) !important;
    width: 75%;
    margin-left: 1rem;
    opacity: 100;
  }
  .bajada {
    display: none;
  }
  .cuadrado {
    display: none;
  }
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 67% !important;
    opacity: 100;
    margin-right: -12rem !important;
    margin-top: 3rem !important;
  }
  .circulo {
    width: 45px;
    height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff6c;
    margin-left: 1.5rem !important;
    margin-top: -2.4rem;
  }
  .circulo2 {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 2rem !important;
    margin-top: -2.4rem;
    font-family: var(--primary-font);
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}
@media (max-width: 1320px) {
  .cuadrado {
    width: 230px; 
    height: 150px; 
    background: #0d0b2b49;
    border: dotted;
    border-color: rgba(245, 245, 245, 0.425);
    position: absolute;
    transform: translateX(950px) !important;
    margin-top: -3rem !important;
  }
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 17%;
    opacity: 100;
    margin-left: -3rem !important;
    margin-top: 5rem !important;
  }
  .circulo {
    width: 45px;
    height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff6c;
    margin-left: 9.5rem !important;
    margin-top: -2.4rem;
  }
  .circulo2 {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 10rem !important;
    margin-top: -2.4rem;
    font-family: var(--primary-font);
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1114px) {
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 10%;
    opacity: 100;
    margin-left: -3rem !important;
    margin-top: 5rem !important;
  }
  .cuadrado {
    width: 230px; 
    height: 150px; 
    background: #0d0b2b49;
    border: dotted;
    border-color: rgba(245, 245, 245, 0.425);
    position: absolute;
    transform: translateX(850px) !important;
    margin-top: -3rem !important;
  }
  .circulo {
    width: 45px;
    height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff6c;
    margin-left: 7.8rem !important;
    margin-top: -2.4rem;
  }
  .circulo2 {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 8.2rem !important;
    margin-top: -2.4rem;
    font-family: var(--primary-font);
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1130px) {
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 25% !important;
    opacity: 100;
    margin-left: -3rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 1144px) {
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 20% !important;
    opacity: 100;
    margin-left: -3rem !important;
    margin-top: 5rem !important;
  }
  .cuadrado {
    width: 230px; 
    height: 150px; 
    background: #0d0b2b49;
    border: dotted;
    border-color: rgba(245, 245, 245, 0.425);
    position: absolute;
    transform: translateX(850px) !important;
    margin-top: -3rem !important;
  }
}
@media (max-width: 1174px) {
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 20% !important;
    opacity: 100;
    margin-left: -3rem !important;
    margin-top: 5rem !important;
  }
  .cuadrado {
    width: 230px; 
    height: 150px; 
    background: #0d0b2b49;
    border: dotted;
    border-color: rgba(245, 245, 245, 0.425);
    position: absolute;
    transform: translateX(850px) !important;
    margin-top: -3rem !important;
  }
}
@media (max-width: 1230px) {
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 20% !important;
    opacity: 100;
    margin-left: -3rem !important;
    margin-top: 5rem !important;
  }
  .cuadrado {
    width: 230px; 
    height: 150px; 
    background: #0d0b2b49;
    border: dotted;
    border-color: rgba(245, 245, 245, 0.425);
    position: absolute;
    transform: translateX(850px) !important;
    margin-top: -3rem !important;
  }
}
@media (max-width: 1250px) {
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 18% !important;
    opacity: 100;
    margin-left: -3rem !important;
    margin-top: 5rem !important;
  }
  .cuadrado {
    width: 230px; 
    height: 150px; 
    background: #0d0b2b49;
    border: dotted;
    border-color: rgba(245, 245, 245, 0.425);
    position: absolute;
    transform: translateX(850px) !important;
    margin-top: -3rem !important;
  }
}

@media (max-width: 1496px) {
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 10%;
    opacity: 100;
    margin-left: -3rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 1108px) and (min-width: 720px) {
  .cuadrado {
    display: none;
  }
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 17%;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
  .circulo {
    width: 45px;
    height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff6c;
    margin-left: 5rem !important;
    margin-top: -2.4rem;
  }
  .circulo2 {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 5.5rem !important;
    margin-top: -2.4rem;
    font-family: var(--primary-font);
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 858px) {
  .cuadrado {
    display: none;
  }
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 17%;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
  .circulo {
    width: 45px;
    height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff6c;
    margin-left: 3rem !important;
    margin-top: -2.4rem;
  }
  .circulo2 {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 3.5rem !important;
    margin-top: -2.4rem;
    font-family: var(--primary-font);
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .cuadrado {
    display: none;
  }
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 35% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
  .circulo {
    width: 45px;
    height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff6c;
    margin-left: 1.6rem !important;
    margin-top: -2.4rem;
  }
  .circulo2 {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 2rem !important;
    margin-top: -2.4rem;
    font-family: var(--primary-font);
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .cuadrado {
    display: none;
  }
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 35% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
  .circulo {
    width: 45px;
    height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff6c;
    margin-left: 1.6rem !important;
    margin-top: -2.4rem;
  }
  .circulo2 {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 2rem !important;
    margin-top: -2.4rem;
    font-family: var(--primary-font);
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 670px) {
  .cuadrado {
    display: none;
  }
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 35% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
  .circulo {
    width: 45px;
    height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff6c;
    margin-left: 1.6rem !important;
    margin-top: -2.4rem;
  }
  .circulo2 {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 2rem !important;
    margin-top: -2.4rem;
    font-family: var(--primary-font);
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 690px) {
  .cuadrado {
    display: none;
  }
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 35% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
  .circulo {
    width: 45px;
    height: 45px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff6c;
    margin-left: 1.6rem !important;
    margin-top: -2.4rem;
  }
  .circulo2 {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 2rem !important;
    margin-top: -2.4rem;
    font-family: var(--primary-font);
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 578px) {
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 25% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 617px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 25% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 646px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 35% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 650px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 26% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 660px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 25% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 670px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 23% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 680px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 25% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 690px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 27% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 700px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 25% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 720px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 23% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 740px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 23% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 760px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 23% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 780px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 21% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 810px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 20% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 858px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 20% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 880px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 20% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 910px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 20% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 940px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 22% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 970px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 20% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 1000px){
  .linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 20% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
}
@media (max-width: 441px) and (min-width: 360px) {
.linea2 {
    border: none;
    height: 4px !important;
    color: var(--primary-color);
    width: 37% !important;
    opacity: 100;
    margin-left: -5rem !important;
    margin-top: 5rem !important;
  }
  body {
    width: 100vw;
  }
  .container {
    width: 100vw;
  }
}

  @media (max-width: 501) {
    .linea2 {
        border: none;
        height: 4px !important;
        color: var(--primary-color);
        width: 35% !important;
        opacity: 100;
        margin-left: -5rem !important;
        margin-top: 5rem !important;
      }
    }
    @media (max-width: 461px) {
      .linea2 {
          border: none;
          height: 4px !important;
          color: var(--primary-color);
          width: 33% !important;
          opacity: 100;
          margin-left: -5rem !important;
          margin-top: 5rem !important;
        }
      }
      @media (max-width: 481px) {
        .linea2 {
            border: none;
            height: 4px !important;
            color: var(--primary-color);
            width: 32% !important;
            opacity: 100;
            margin-left: -5rem !important;
            margin-top: 5rem !important;
          }
        }
        @media (max-width: 499px) {
          .linea2 {
              border: none;
              height: 4px !important;
              color: var(--primary-color);
              width: 30% !important;
              opacity: 100;
              margin-left: -5rem !important;
              margin-top: 5rem !important;
            }
          }
          @media (max-width: 540px) {
            .linea2 {
                border: none;
                height: 4px !important;
                color: var(--primary-color);
                width: 23% !important;
                opacity: 100;
                margin-left: -5rem !important;
                margin-top: 5rem !important;
              }
            }
    

.titlePrincipal {
  margin-left: 1rem;
}
.cuadrado {
  width: 230px; 
  height: 150px; 
  background: #0d0b2b49;
  border: dotted;
  border-color: rgba(245, 245, 245, 0.425);
  position: absolute;
  transform: translateX(1000px);
}
.textBox {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: small;
}
.subtitleBox {
  color: white;
}
.parrafoBox {
  color: white;
  font-family: var(--secondary-font);
  font-size: .7rem;
  text-align: start;
  margin-left: 2rem;
}
.containerBox {
  margin-top: 2rem;
  text-align: center;
}
.linea2 {
  border: none;
  height: 4px !important;
  color: var(--primary-color);
  width: 17%;
  opacity: 100;
  margin-top: 10rem;
  margin-left: -1rem;
}
.circulo {
  width: 45px;
  height: 45px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff6c;
  margin-left: 11rem;
  margin-top: -2.4rem;
}
.circulo2 {
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff;
  margin-left: 11.5rem;
  margin-top: -2.4rem;
  font-family: var(--primary-font);
  font-size: .7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Blog */

.blog .galleryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  grid-gap: 25px;
  background-color: rgb(255, 255, 255);
}
.galleryImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .5rem;
}
.galleryItem:nth-child(1) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.galleryItem:nth-child(2) {
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.galleryItem:nth-child(3) {
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.galleryItem:nth-child(4) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.galleryItem:nth-child(5) {
  grid-column-start: span 1;
  grid-row-start: span 1;
}
.galleryItem {
  position: relative;
  font-family: var(--primary-font);
}
.galleryItemII {
  position: relative;
  font-family: var(--primary-font);
  margin-bottom: 5rem;
}
span {
  color: grey;
  font-family: var(--primary-font);
}
.galleryTitle {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 10px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: start;
  cursor: default;
  margin-left: 2rem;
  margin-top: 1rem;
}
.galleryTitleII {
  position: absolute;  
  bottom: 0;
  padding: 10px;
  width: 100%;
  font-family: var(--primary-font);
  top: 0;
  left: 0;
  color: white;
  cursor: pointer;
  margin-top: 40rem;
  margin-left: 2rem;
}
.galleryTitleIII {
  position: absolute;  
  bottom: 0;
  padding: 10px;
  width: 100%;
  font-family: var(--secondary-font);
  font-size: 1rem;
  top: 0;
  left: 0;
  color: white;
  cursor: pointer;
  margin-top: 43rem;
  margin-left: 2rem;
}
.galleryTitleIV {
  position: absolute;  
  bottom: 0;
  padding: 10px;
  width: 100%;
  font-family: var(--primary-font);
  top: 0;
  left: 0;
  color: white;
  cursor: pointer;
  margin-top: 20rem;
  margin-left: 2rem;
}
.galleryTitleV {
  position: absolute;  
  bottom: 0;
  padding: 10px;
  width: 100%;
  font-family: var(--secondary-font);
  font-size: 1rem;
  top: 0;
  left: 0;
  color: white;
  cursor: pointer;
  margin-top: 23rem;
  margin-left: 2rem;
}
.galleryImg {
  filter: blur(0px);
}
.galleryItem:hover .galleryTitle {
  opacity: 1;
}

.galleryItem:hover .galleryImg {
  filter: blur(2px);
  transition: filter 0.3s ease-in;
  transform: scale(1);
}
.galleryItemII:hover .galleryImg {
  filter: blur(2px);
  transition: filter 0.3s ease-in;
  transform: scale(1);
}
.subarticulos {
  display: flex;
  flex-direction: row;
  color: gray;
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: .7rem;
  padding: .2rem;
}
.articulos {
  position: absolute;  
  bottom: 0;
  padding: 10px;
  width: 100%;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: .7rem;
  padding: .3rem;
}
.articulos2 {
  position: absolute;  
  bottom: 0;
  padding: 10px;
  width: 100%;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: .7rem;
  padding: .3rem;
}
.iconTime {
  width: 5%;
  height: 5%;
  padding: .2rem;
  margin-top: -.2rem;
}
.iconTime2 {
  width: 3%;
  height: 3%;
  padding: .2rem;
  margin-top: -.3rem;
}
.iconTime3 {
  width: 3%;
  height: 3%;
  padding: .2rem;
  margin-top: -.3rem;
}
.titleSubarticulo {
  font-family: var(--primary-font);
  font-size: 1rem;
  margin-top: 1rem;
}
.titleBlog {
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 5rem;
  padding: 1rem;
  margin-left: 7rem;
}

@media (max-width: 720px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 11rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 31rem;
    margin-left: 2rem;
  }
  .galleryTitleIII {
    display: none;
  }
  .galleryTitleV {
    display: none;
  }
  .iconTime {
    width: 10%;
    height: 10%;
    padding: .2rem;
    margin-top: -.2rem;
  }
  .iconTime2 {
    width: 5%;
    height: 5%;
    padding: .2rem;
    margin-top: -.2rem;
  }
  .iconTime3 {
    width: 5%;
    height: 5%;
    padding: .2rem;
    margin-top: -.2rem;
  }
}
@media (max-width: 600px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 10rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 30rem;
    margin-left: 2rem;
  }

}
@media (max-width: 1108px) and (min-width: 720px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 17rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 38rem;
    margin-left: 2rem;
  }
  .galleryTitleIII {
    display: none;
  }
  .galleryTitleV {
    display: none;
  }
}
@media (max-width: 578px) {
  .galleryItemII {
    display: none;
  }
  .artCamino {
    display: none;
  }
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 8rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 8rem;
    margin-left: 2rem;
  }
  .galleryTitleIII {
    display: none;
  }
  .galleryTitleV {
    display: none;
  }

}
@media (max-width: 945px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 16rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 37rem;
    margin-left: 2rem;
  }
}
@media (max-width: 965px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 16rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 37rem;
    margin-left: 2rem;
  }
}
@media (max-width: 920px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 15rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 36rem;
    margin-left: 2rem;
  }
}
@media (max-width: 890px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 14rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 35rem;
    margin-left: 2rem;
  }
}
@media (max-width: 860px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 14rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 35rem;
    margin-left: 2rem;
  }
}
@media (max-width: 830px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 13rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 34rem;
    margin-left: 2rem;
  }
}
@media (max-width: 780px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 12rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 33rem;
    margin-left: 2rem;
  }
}
@media (max-width: 740px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 11rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 32rem;
    margin-left: 2rem;
  }
}
@media (max-width: 700px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 10rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 31rem;
    margin-left: 2rem;
  }
}
@media (max-width: 650px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 8rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 1;
    margin-top: 7.5rem;
    margin-left: 2rem;
  }
  .galleryItemII {
    display: none;
  }
  .artCamino {
    display: none;
  }
}
@media (max-width: 590px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 7.5rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 29.5rem;
    margin-left: 2rem;
  }
}
@media (max-width: 590px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 7.5rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 8rem;
    margin-left: 2rem;
  }
}
@media (max-width: 570px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 7.5rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 8rem;
    margin-left: 2rem;
  }
}
@media (max-width: 560px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 7.5rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 7.5rem;
    margin-left: 2rem;
  }
}
@media (max-width: 540px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 7rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 7rem;
    margin-left: 2rem;
  }
}
@media (max-width: 520px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 6.5rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 6.5rem;
    margin-left: 2rem;
  }
}
@media (max-width: 500px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 6rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 6rem;
    margin-left: 2rem;
  }
}
@media (max-width: 480px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 5.5rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 5.5rem;
    margin-left: 2rem;
  }
}
@media (max-width: 460px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 5rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 5rem;
    margin-left: 2rem;
  }
}
@media (max-width: 440px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 4.5rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 4.5rem;
    margin-left: 2rem;
  }
}
@media (max-width: 420px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 4rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 4rem;
    margin-left: 2rem;
  }
}
@media (max-width: 400px) {
  .galleryTitleIV {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: .5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 3.5rem;
    margin-left: 2rem;
  }
  .galleryTitleII {
    position: absolute;  
    bottom: 0;
    padding: 10px;
    font-size: .5rem;
    font-family: var(--primary-font);
    top: 0;
    left: 0;
    color: white;
    cursor: pointer;
    margin-top: 3.5rem;
    margin-left: 2rem;
  }
}





/* Tendencias */

.bodyTendencias {
  
 background: #ebebeb;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 2rem;
  gap: 2rem;
}

.titleTendencias {
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 5rem;
  padding: 1rem;
  margin-right: 60rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.card__img:hover {
  max-width: 100%;
  display: block;
  object-fit: cover;
  filter: blur(1px);
  cursor: pointer;
}

.card1 {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}
.card2 {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}
.card3 {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

@media (max-width: 720px) {
  
  .container {
    display: flex;
    justify-content: start;
    margin-left: 2rem !important;
    margin-block: 1rem;
    gap: 1rem;
  }
  .card1 {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  }
  .card2 {
    display: none;
  }
  .card3 {
    display: none;
  }
}
@media (max-width: 1114px) {
  .card3 {
    display: none;
  }
}
@media (max-width: 970px) {
.container {
  display: flex;
  display: inline-block;
  margin-block: 2rem;
  gap: 2rem;
}
.card2 {
  display: none;
}
}
@media (max-width: 360px) {
  
    .card1 {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    margin-right: 2rem;
    width: 80vw;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  }
}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: .5em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-pink {
background: var(--primary-color);
  color: #fafafa;
  font-family: var(--primary-font);
  margin-left: 1rem;
}


.card__body h4 {
  font-size: 1.5rem;
  font-family: var(--primary-font);
  font-size: 1rem;
}
.card__body p {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  font-size: .8rem;
}

/* for touch screen devices */

@media (hover: none) {
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

.pageTendencias {
  
  color: white;
  text-align: center;
  padding: .25em .75em;
  border-radius: .5em;
  font-weight: bold;
  background-color: var(--primary-color);
}
.containerTendencias {
  background-image: url("../src/Assets/img/under-construccion.jpg");
  background-size: cover;
  opacity: 90%;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items:center;
  font-family: var(--primary-font);
}





/* Footer */


footer {
  background-color: #2a3037;
  padding: 2rem;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
}
.containerRedes {
  display: flex;
  align-items: center;
}
.logoFb {
  padding: .5rem;
}
